:root{
    --logo: #333333;
    --light: #dddddd;
    --lighttrans: rgba(190, 190, 190, 0.95);
    --bg: #eeeeee;
    --warmyellow: #eed231;
    --buttonblue: #07c5ff;
    --buttonaqua: #1fd3b2;
    --alertorange: #f9c043;
    --bgdark: #343a40;
    --custom: #212121;
    --submenu: #0E4B33;
    --lightpink: #DDBBDC;
}

/*------- Colors -------*/

.bg-custom{
    background-color: #212121;
    margin: 0;
    padding: 0;
    border: 0;
}

/*------- General -------*/

html{
    scroll-behavior: smooth;
    padding: 0; 
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: var(--bg);
    font-size: 16px;
    margin: 0;
    padding: 0;
    /*overflow-x: hidden!important;*/
}

.secheading{
    text-align: center;
    margin: 0%;
    z-index: 2;
    font-weight: 500;
}

@media screen and (max-width: 568px){
    .secheading{
    font-size: 150%;
    margin: 4% 0%;
}
}

.hr90,.hr60,.hr30{
    display: block;
    border-bottom: 2px solid #aaaaaa;
    margin: 2% auto;
}

.hr90{
    width: 90%;
}

.hr60{
    width: 60%; 
}

.hr30{
    width: 30%;
}

.clear{
    clear: both;
}

.rotate45{
    transform: rotate(45deg);
    display: inline-block;
    font-size: 80%
}

.rotate270{
    transform: rotate(225deg);
    display: inline-block;
}

/*------- Header -------*/

/*------- Alert -------*/
.alert-custom{
    background-color: var(--alertorange);
    color: var(--logo);
    width: 100%;
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
}

.alert-dismissible .close {
    padding: 1%!important;
}

/*------- Navbar -------*/
.navbar-brand{
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    font-size: 400%;
}

@media screen and (max-width: 576px){
    .navbar-brand{
    font-size: 250%;
    }
}


@media screen and (max-width: 767px){
    .nav-item{
    margin-left: auto;
    margin-right: 5%;
    }

    .navbar-nav{
    border-top: 2px solid var(--bg);
    }
}



.nav-link{
    font-size: 1.7em;
}

@media screen and (max-width: 850px){
    .nav-link{
    font-size: 1.2em;
}
}

/*------- Carousel -------*/

.carousel-slide{
    width: 100%;
    margin: 0;
    padding: 0;

}
.carousel-inner{
    height: 70vh;
    width: 100%;
    position: relative;
}

.carousel-inner::after{
    content: "";
    background: rgba(0,0,0,0.35);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;  
    margin: 0;
    padding: 0; 
}

.carousel-inner .carousel-item img{
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: top center;  
}

.carousel-caption{
    bottom: 25%;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.carousel-caption h5{
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    font-size: 4em;
}

.carousel-caption p{
    font-size: 1em;
}

@media screen and (max-width: 576px){
    .carousel-caption h5{
    font-size: 2em;
}

.carousel-caption p{
    font-size: 1em;
}
}

.carousel-caption button{
    width: 40%;
    margin: 2% auto;
    padding: 2%;
    color: var(--light);
    background-color: rgba(0,0,0,0.8);
    border: 2px solid var(--buttonblue);
    border-radius: 5px;
    font-size: 1.5em; 
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 2em;
    Height: 2em;
}

/*------- Welcome -------*/

blockquote{
    padding: 0;
    margin: 0;
}

blockquote hr{
    margin-top: 2%;
    margin-bottom: 0;
    color: #fff;
    width: 60%;
    border-bottom: 10px;
    padding: 0;
}

.welcome{
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
    width: 80%;  
    margin: 0 auto;
}

/*------- Menu Categories -------*/

.menussec{
    padding: 0;
}

.menussec .row{
    padding: 0;
    margin: 5% 0;
}
.menutab{
    Text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    
}

.menutab img{
    width: 100%;
    height: 100%;   
    padding: 0;
    margin: 0 auto;
    object-fit: cover;
}

@media screen and (max-width: 768px){
    .menutab img{
        width: 100%;
    }
}

.col-md-4.menutab{
    padding: 0;
    margin: 0;
}

.curtain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    padding: 0;
    margin: 0;
}

.curtain span{
    position: relative;
    top: 50%;
    color: var(--light);
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: var(--logo) 0 2px;
}

.curtain:hover{
    background-color: rgba(51, 51, 51, 0.3);
}

.curtain:hover span{ 
    display: none;
}

@media screen and (max-width: 768px){
    .curtain{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top: 3px solid var(--bg);
    }
}

.curtain h3{
    position: relative;
    top: 50%;
    left: 0;
    text-align:center;
    font-weight: 600;
    font-size: 2em;
    text-shadow: var(--logo) 0 2px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    color: var(--light);
    
}

/*------- Shop Categories -------*/

.catsec{
    width: 100%;
    padding: 0;
    margin: 0;
}

.catsec .row{
    padding: 0;
    margin: 5% 0;
}

.catsec img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.catcol{
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0; 
}

.catover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bg);
    background-color: rgba(51, 51, 51, 0.7);
    padding: 0;
    margin: 0;
}

.catover:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.cathead{
    position: relative;
    top: 35%;
    left: 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-shadow: var(--logo) 0 2px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    color: var(--light);
}

.ctablu{
    position: absolute;
    top: 50%;
    left: 25%;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid var(--buttonblue);
    border-radius: 5px;
    padding: 2%;
    width: 50%;
    height: 15%;
    text-align: center;
}

.ctablu:visited{
    border: 1px solid var(--warmyellow);
}

.ctablu a{
    color: var(--light);
    font-weight: 600;
    color: var(--light);
    font-size: 1em;
}

/*------- contact.html -------*/

.bgcontact{
    position: relative;
    padding: 8% 0;
    margin: 0 auto;
    text-align: center;
}
.bgcontact::after {
  content: "";
  background: url("../images/chairs.jpg") center center; /* <span>Photo by <a href="https://unsplash.com/@cyzx?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Clifford</a> on <a href="https://unsplash.com/s/photos/old-chairs?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  padding: 5% 0;
  margin: 0;  
}

.contactbox, .calls{
    width: 100%;
    padding: 2% 0%;
    margin: 5% 0%;
}

.contactbox{
    background: var(--lighttrans);
    border: 1px solid var(--lighttrans);
    border-radius: 5px;
}

.calls{
    color: #fff;
    background: var(--buttonblue);
    border: 1px solid var(--buttonblue);
    border-radius: 5px;
}

.address{
    text-align: left;
    padding: 3% 0%;
    padding-left: 10%;
    line-height: 2;
}

#name,#email,#phone,#message,#nameres,#emailres,#phoneres,#messageres{
    width: 90%;
    margin: 2% auto;
    padding: 2%;
    background-color: #fff;
    border: 1px solid var(--light);
    border-radius: 5px;
}

#message{
    padding-bottom: 150px;
}

#submit,#submitres{
    width: 90%;
    color: #fff;
    font-weight: 600;
    background-color: var(--buttonblue);
    border: 1px solid var(--buttonblue);
    border-radius: 5px;
    padding: 2%;
}

.res{
    padding-left: 2%;
    padding-bottom: 0;
}

#fiftyfifty{
    width: 90%;
    position: relative;
    top: 5rem;
    margin: 0% auto 0% auto;
    height: 3.5rem;
}

#guests,#date{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px; 
    margin: 4rem 0;
    padding: 2% 2%;
    height: 2.2rem;
}

#guests{
    width: 30%;
    padding-left: 15px;
    right: 0;
    
}

#date{
    width: 65%;
    left: 0;
}

#labelguests{
    position: absolute;
    top: -130%;
    right: 18%;
}

#labeldate{
    position: absolute;
    top: -130%;
    left: 2%;
}

form{
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 1200px){
    .contactpage .container-fluid{
        width: 60%;
    }
}

@media screen and (min-width: 768px){
    .contactpage .container-fluid{
        width: 80%;
    }
}

/*------- Menu.html -------*/

.menuback{
    position: relative;
    padding: 4% 0%;
    margin: 0;
    width: 100%;
    font-size: 1rem;
}


/* Credit background-opacity https://css-tricks.com/snippets/css/transparent-background-images/ */

.menuback::after {
  content: "";
  background: url("../images/palms2.jpg") center center;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.menusnav{
    width: 80%;
    background-color: var(--submenu);
    border: 1px solid var(--submenu);
    margin: 0 auto;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 150%;
}

.menusnav.top{
    margin-top: 5%;
    border-bottom: 2px solid var(--bg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menusnav.bottom{
    margin-bottom: 5%;
    background: var(--submenu);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menusnav .bar{
    border-right: 2px solid var(--bg);
    border-left: 2px solid var(--bg);
}

.menusnav .col-4{
    padding: 0.25% 0;
}

.menusnav a{
    color: #fff;
}

.menusnav a:hover{
    text-decoration: none;
    color: var(--alertorange);
    font-weight: 800;
}    

.rotate:hover{
    animation-name: rotate;
    animation-duration: 0.7s;
}

/* inspiration for animation from https://stackoverflow.com/questions/42745506/how-to-make-an-icon-spin-with-i-tag-in-html5-through-css3 */
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
        }
}

.menubody{
    padding: 0;
    margin: 0;
    background-color: var(--lighttrans);
    text-align: center;
}

.menuintro,.foodmenu,.dessertmenu,.coffeemenu{
    width: 80%;
    margin: 5% auto;
    padding: 2% 2% 5% 2%;
    text-align: center;
    background-color: var(--lighttrans);
    border: 1px solid var(--lighttrans);
    border-radius: 5px;
}

.menuintro .secheading{
        font-weight: 600;
        padding: 0.8rem;
        background-color: var(--submenu);
        color: white;
        border: 1px solid var(--submenu);
        border-radius: 5px;
    }

.menuintro p{
    margin-top: 3%;
}

 .foodmenu .secheading{
        font-weight: 600;
        padding: 0.8rem;
        background-color: var(--submenu);
        color: white;
        border: 1px solid var(--submenu);
        border-radius: 5px;
    }

.foodmenu>.col-12.col-sm-6{
    padding: 3% 0%;
}

.foodmenu hr{
    margin-bottom:5%;
}

 .dessertmenu .secheading{
        font-weight: 600;
        padding: 0.8rem 0;
        background-color: var(--submenu);
        color: white;
        border: 1px solid var(--submenu);
        border-radius: 5px;
    }

.dessertmenu>.col-12.col-sm-6{
    padding: 3% 0%;
}

.coffeemenu{
    font-family: monospace, sans-serif;
    background-image: url("../images/pegboardlandscape.png");
    border: 1px solid #212225;
    border-radius: 5px;
    color: #fff;
    padding: 5% 2%;
}

 .coffeemenu h3{
        margin-bottom: 2rem;
    }

.coffemenu,.milk p::before{
    content: "+ ";
}

.coffeemenu .col-4{
   padding: 0;
   margin: 0;
}

.call{
    color: var(--submenu);
}

@media screen and (max-width: 576px){
    .menuback{
        font-size: 0.8rem;
        font-weight: 500;
    }

    .menuback::after{
        background-repeat: repeat-x;
    }
    
    .menusnav{
        width: 95%;
        font-size: 0.9rem;
    }

    h2.submenu{
        font-size: 150%;
    }

    h2.secheading{
        font-size: 125%;
    }

    .menuintro,.foodmenu,.dessertmenu,.coffeemenu{
        width: 95%;
    }

   .foodmenu h4{
        font-size: 1rem;
    }

   .dessertmenu h4{
        font-size: 1rem;
    }

    .menuintro .secheading{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .foodmenu .secheading{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .dessertmenu .secheading{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .dessertmenu>.col-12.col-sm-6{
    padding: 0%;
    }

    .coffemenu,.milk p::before{
    content: none;
    }

    .coffeemenu h3{
        margin-bottom: 1rem;
    }

}

@media screen and (min-width: 1200px){
    .menusnav{
        width: 60%;
    }

    .menuintro,.foodmenu,.dessertmenu,.coffeemenu{
        width: 60%;
    }
}

/*------- Shop.html -------*/

/*------- Product -------*/
.product{
    height: auto;
    display: inline-block;
    position: relative; 
    margin: 5% 0%;
    padding: 0;
    text-align: center;
}

.product img{
    Max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0;
}

.product p:hover::before{
    content: "+";
}

.prodtitle{
    text-align: center;
    font-size: 1.2em;
    margin: 5px,auto,10px,auto;
}

.product button{
    color: var(--light);
    text-align: center;
    width: 70%;
    background-color: var(--alertorange);
    border: 1px solid var(--alertorange);
    border-radius: 5px;
    padding: 2%;
    margin: 5% auto;
}

.stafffav{
    position: absolute;
    top: 0%;
    left: 0%;
    color: white;
    padding: 1%;
    background-color: rgba(7,7,7,0.5)
}

.container2{
    clear: both;
}

/*------- Footer -------*/

.footercustom{
    width: 100%;
    clear: both;
    margin: 0;
    padding: 2% 0;
    text-align: center;
}

.footercustom .row{
    margin: 2% 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.footercustom h4{
    color: #fff;
    margin: 1rem 0;
    padding: 0;
}

.footercustom ul{
    padding: 0;
    margin: 0;
}

.footerlist li{
    color: #fff;
    font-size: 1rem;
    list-style-type: none;
    line-height: 1.6;
}
.col-6.footerlist{
    margin-top: 1%;
}

.footerlist li::before{
    content: "+ ";
}

@media screen and (max-width: 768px){
    .footercustom{
        padding-bottom: 10%;
    }

    .footercustom h4{
    font-size: 1rem;
    }

    .footerlist li::before{
    content: none;
    padding-left: 0;
    }
    
    .col-6.col-sm-3.footerlist a{
    font-size: 0.7rem;
    line-height: 1;
    }
}

.footerlist a{
    text-decoration: none;
    color: #fff;
}

.footerlist a:hover{
    color: var(--buttonblue);
}

.contacts li{
    list-style-type: none;
}

.contacts li::before{
    content: none;
}

.contacth{
    font-weight: bold;
}

.socialicons{
    text-align: center;
}

.socialicons i{
    Font-size: 250%;
    color: #fff;
    margin: 0% 2% 0% 2%;
}

.socialicons i:hover{
    color: var(--buttonblue);
}

@media screen and (max-width: 768px){
    .socialicons i{
    Font-size: 200%;
    margin: 0% 5% 0% 5%;
    }
}





