/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root{
    --logo: #333333;
    --light: #dddddd;
    --lighttrans: rgba(190, 190, 190, 0.95);
    --bg: #eeeeee;
    --warmyellow: #eed231;
    --buttonblue: #07c5ff;
    --buttonaqua: #009277;
    --alertorange: #f9c043;
    --bgdark: #343a40;
    --custom: #212121;
    --submenu: #0E4B33;
    --lightpink: #DDBBDC;
    --powderpink: #343a40;
    /*#274135;*/
}

/*------- Colors -------*/

.bg-custom{
    background-color: var(--custom);
    margin: 0;
    padding: 0;
    border: 0;
}

.white{
    color: #fff;
}

/*------- General -------*/

html{
    scroll-behavior: smooth;
    padding: 0; 
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: var(--bg);
    font-size: 16px;
    margin: 0;
    padding: 0;
    /*overflow-x: hidden!important;*/
}

.secheading{
    text-align: center;
    margin: 0%;
    z-index: 2;
    font-weight: 500;
}

.hr90,.hr60,.hr30{
    display: block;
    border-bottom: 2px solid #aaaaaa;
    margin: 2% auto;
}

.hr90{
    width: 90%;
}

.hr60{
    width: 60%; 
}

.hr30{
    width: 30%;
}

.clear{
    clear: both;
}

.rotate45{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    display: inline-block;
    font-size: 80%
}

.rotate270{
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
    display: inline-block;
}

/*------- Header -------*/

/*------- Alert -------*/
.alert-custom{
    background-color: var(--alertorange);
    color: var(--logo);
    width: 100%;
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
}

.alert-dismissible .close {
    padding: 1%!important;
}

/*------- Navbar -------*/
.navbar-brand,#home-brand{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
}

.navbar-brand{
    font-size: 400%;
}

.nav-link{
    font-size: 1.7em;
}

/*------- Carousel -------*/

.carousel-slide{
    width: 100%;
    margin: 0;
    padding: 0;

}
.carousel-inner{
    width: 100%;
    position: relative;
    z-index: 0;
}


.carousel-inner .carousel-item img{
    width: 100%;
}

.carousel-item{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    color: #fff;
    z-index: 0;
    position: relative;
}

.carousel-item::after{
    content: "";
    background: rgba(0,0,0,0.35);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;  
    margin: 0;
    padding: 0; 
}

/*Centering carousel caption text technique from this forum https://stackoverflow.com/questions/27279865/how-to-vertically-center-a-bootstrap-carousel-caption*/
.carousel-caption{
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    bottom: initial;
    z-index: 2;
}

.carousel-caption h5{
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    font-size: 4em;
}

.carousel-caption p{
    font-size: 1.5em;
}

.carousel-caption button{
    width: 40%;
    margin: 2% auto;
    padding: 2%;
    color: var(--light);
    background-color: rgba(0,0,0,0.8);
    border: 2px solid var(--buttonblue);
    border-radius: 5px;
    font-size: 1.5em; 
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 2em;
    Height: 2em;
}

/*------- Welcome -------*/
#home-brand{
    font-size: 300%;
}

blockquote{
    padding: 0;
    margin: 0;
}

blockquote hr{
    margin-top: 2%;
    margin-bottom: 0;
    color: #fff;
    width: 60%;
    border-bottom: 10px;
    padding: 0;
}

.welcome{
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
    width: 80%;  
    margin: 0 auto;
}

/*------- Menu Categories -------*/

.menussec{
    padding: 0;
}

.bg-homehead{
    background-color: var(--custom);
    color: var(--light);
    padding: 25px 0;
}

.bg-homehead .col-12{
    padding: 3% 0;
}

.menussec .row{
    padding: 0;
    Margin: 0;
    margin-top: 5%;

}

.menutab{
    Text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    
}

.menutab img{
    width: 100%;
    height: 100%;   
    padding: 0;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
}

.col-md-4.menutab{
    padding: 0;
    margin: 0;
}

.curtain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    padding: 0;
    margin: 0;
}

.curtain span{
    position: relative;
    top: 50%;
    color: var(--light);
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: var(--logo) 0 2px;
}

.curtain:hover{
    background-color: rgba(51, 51, 51, 0.3);
}

.curtain:hover span{ 
    display: none;
}

.curtain h3{
    position: relative;
    top: 50%;
    left: 0;
    text-align:center;
    font-weight: 600;
    font-size: 2em;
    text-shadow: var(--logo) 0 2px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    color: var(--light);
    
}

/*------- Shop Categories -------*/

.catsec{
    width: 100%;
    padding: 0;
    margin: 0;
}

.catsec .row{
    padding: 0;
    margin: 5% 0 5% 0;
}

.catsec img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.catcol{
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0; 
}

.catover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bg);
    background-color: rgba(51, 51, 51, 0.7);
    padding: 0;
    margin: 0;
}

.catover:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.cathead{
    position: relative;
    top: 38%;
    left: 0;
    text-align: center;
    font-weight: 600;
    text-shadow: var(--logo) 0 2px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    color: var(--light);
}

h5.cathead{
    font-weight: 600;
    font-size: 1.8rem;
}

.ctablu{
    position: absolute;
    color: #fff;
    font-size: 1.5rem;
    top: 50%;
    left: 25%;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid var(--buttonblue);
    border-radius: 5px;
    margin-top: 5%;
    padding: 3%;
    width: 50%;
    text-align: center;
}

.ctablu:hover{
    background-color: var(--buttonblue);
}


/*------- contact.html -------*/

.bgcontact{
    position: relative;
    padding: 10vh 0;
    margin: 0 auto;
    text-align: center;
}
.bgcontact::after {
  content: "";
  background: url("../images/contactback.jpg") center center; /* <span>Photo by <a href="https://unsplash.com/@cyzx?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Clifford</a> on <a href="https://unsplash.com/s/photos/old-chairs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></span> */
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  padding: 5% 0;
  margin: 0;  
}

.btcustom1{
    width: 100%;
    margin: 0 auto;
    padding: 2% 0;
    background-color: var(--buttonblue);
    border: 1px solid var(--buttonblue);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
}

.contactback{
    width: 90%;
    margin: 0 auto;
    padding: 5%;
    background-color: var(--lighttrans);
    border: 1px solid var(--lighttrans);
    border-radius: 5px; 
}

.contactback h2,h3{
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.contactback .secheading{
    margin-bottom: 5%;
}

#iconsblack i{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5)
}

.contactback textarea{
    height: auto;
}

#hours strong{
    font-weight: 600;
}

.btn-link{
    color: inherit;
}

.card{
    Background-color: rgba(255, 255, 255, 0.863);
    margin-bottom: 2%;
}

.card-header{
    Background-color: #fff;
    margin-bottom: 0%;
}

.card-header:hover{
    background-color: var(--buttonblue);
    color: white;
}

.btn-link:hover{
    color: #fff;
    text-decoration: none;
}

.btn.focus, .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
    text-decoration: none;
}

/*------- Submit.html -------*/
#formsubmitpage{
    background-color: var(--lighttrans);
    height: auto;
    padding: 5%;
    margin: 0 auto;
}

#formsubmitpage h2{
    margin: 5% 0;
}

.a-custom1{
    width: auto;
    height: auto;
    margin: 2% auto;
    background-color: var(--buttonblue);
    border: 1px solid var(--buttonblue);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
}



/*------- Menu.html -------*/

.menuback{
    position: relative;
    padding: 4% 0%;
    margin: 0;
    width: 100%;
    font-size: 1rem;
}

/* Credit background-opacity https://css-tricks.com/snippets/css/transparent-background-images/ */
.menuback::after {
  content: "";
  background: url("../images/menuback.jpg") center center;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.menusnav{
    width: 80%;
    background-color: var(--powderpink);
    border: 1px solid var(--powderpink);
    margin: 0 auto;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 150%;
}

.menusnav.top{
    margin-top: 5%;
    border-bottom: 2px solid var(--bg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menusnav.bottom{
    margin-bottom: 5%;
    background: var(--powderpink);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menusnav .bar{
    border-right: 2px solid var(--bg);
    border-left: 2px solid var(--bg);
}

.menusnav .col-4{
    padding: 0.25% 0;
}

.menusnav a{
    color: #fff;
}

.menusnav a:hover{
    text-decoration: none;
    color: var(--alertorange);
    font-weight: 800;
}    

.rotate:hover{
    -webkit-animation-name: rotate;
            animation-name: rotate;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
}

/* inspiration for animation from https://stackoverflow.com/questions/42745506/how-to-make-an-icon-spin-with-i-tag-in-html5-through-css3 */
@-webkit-keyframes rotate{
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
}
@keyframes rotate{
    0%{
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100%{
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
        }
}

.menubody{
    padding: 0;
    margin: 0;
    background-color: var(--lighttrans);
    text-align: center;
}

.menuintro,.foodmenu,.dessertmenu,.coffeemenu,.menuorder{
    width: 80%;
    margin: 5% auto;
    padding: 2% 2% 5% 2%;
    text-align: center;
    background-color: var(--lighttrans);
    border: 1px solid var(--lighttrans);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menuintro .secheading{
        font-weight: 600;
        padding: 0.8rem;
        background-color: var(--custom);
        color: white;
        border: 1px solid var(--custom);
    }

.menuintro p{
    margin-top: 3%;
}

 .foodmenu .secheading{
        font-weight: 600;
        padding: 0.8rem;
    }

.foodmenu>.col-12.col-sm-6{
    padding: 2% 0%;
}

.foodmenu hr{
    margin-bottom:5%;
}

 .dessertmenu .secheading{
        font-weight: 600;
        padding: 0.8rem 0;
    }

.dessertmenu>.col-12.col-sm-6{
    padding: 2% 0%;
}
.menusnav.top#coffeemenu{
    background-color: #151516;
}

.coffeemenu{
    font-family: monospace, sans-serif;
    background: #151516;
    border: 1px solid #151516;
    border-radius: 5px;
    color: #fff;
    padding: 2% 2%;
}

 .coffeemenu h3{
        margin-bottom: 2rem;
    }

.coffemenu,.milk p::before{
    content: "+ ";
}

.coffeemenu .col-4{
   padding: 0;
   margin: 0;
}

.menuorder{
    border-radius: 5px;
    padding: 5%;
}

.call{
    text-shadow: none;
    color: #37474f;
}

a.call{
    text-decoration: none;
    color: #37474f;
}

.call:hover,.call a:hover{
    color: var(--buttonblue);
}

/*------- Shop.html -------*/

#page .row{
    margin-top: 5%
}

#page h2{
    padding: 2% 0;
    border: 2px solid var(--custom);
}

#page .jumbotron h2{
    color: inherit;
    background-color: transparent;
    border: none;
}

.product{
    height: auto;
    display: inline-block;
    position: relative; 
    margin: 5% 0%;
    padding: 0;
    text-align: center;
}

.product img{
    Max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0;
    background-color: #E6E8EA;
}

.product p:hover::before{
    content: "+";
}

.prodtitle{
    text-align: center;
    font-size: 1.2em;
    margin: 5px,auto,10px,auto;
}

.product button{
    color: #fff;
    text-align: center;
    width: 70%;
    background-color: var(--buttonblue);
    border: 1px solid var(---buttonblue);
    border-radius: 5px;
    padding: 2%;
    margin: 5% auto;
}

.stafffav{
    position: absolute;
    top: 0%;
    left: 0%;
    color: white;
    padding: 1%;
    background-color: rgba(7,7,7,0.5)
}

.container2{
    clear: both;
}

.nextcat{
    width: 80%;
    height: 80%;
    margin: 10% auto;
    text-align: center;
    font-size: 1.5em;
}

.nextcat a{
    color: #333;
}

.nextcat a:hover{
    color: var(--buttonblue);
    text-decoration: none;
}

.nextcat i{
    font-size: 200%;
}

#shopjumbo,#introshopjumbo{
    background-color: #E6E8EA;
}

/* Bug fix found at this article https://css-tricks.com/considerations-styling-modal/ */
/* .modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

#shopmodal{
    position: fixed;
    padding-top: 10%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.modal-header{
    background-color: var(--custom);
    color: var(--light);
    font-size: 3rem;
}

button.close{
    color: #fff;
}

button.close:hover{
    color: #fff;
}

/*------- Footer -------*/

.footercustom{
    width: 100%;
    clear: both;
    margin: 0;
    padding: 2% 0;
    text-align: center;
}

.footercustom .row{
    margin: 2% 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.footercustom h4{
    color: #fff;
    margin: 1rem 0;
    padding: 0;
}

.footercustom ul{
    padding: 0;
    margin: 0;
}

.footerlist li{
    color: #fff;
    font-size: 1rem;
    list-style-type: none;
    line-height: 1.6;
}
.col-6.footerlist{
    margin-top: 1%;
}

.footerlist li::before{
    content: "+ ";
}

.footerlist a{
    text-decoration: none;
    color: #fff;
}

.footerlist a:hover{
    color: var(--buttonblue);
}

.contacts li{
    list-style-type: none;
}

.contacts li::before{
    content: none;
}

.contacth{
    font-weight: bold;
}

.socialicons{
    text-align: center;
}

.socialicons i{
    Font-size: 250%;
    color: #fff;
    margin: 0% 2% 0% 2%;
}

.socialicons i:hover{
    color: var(--buttonblue);
}

/* Media Queries */
@media screen and (max-width: 1000px){
    h5.cathead{
    font-weight: 600;
    font-size: 1.4rem;
    }
}

@media screen and (max-width: 850px){
    .nav-link{
    font-size: 1.2em;
}

 .col-6.col-sm-3.footerlist li{
    font-size: 0.7rem;
    line-height: 1.8;
    }

    .footercustom{
        padding-bottom: 5%;
    }

    .footercustom h4{
    font-size: 1rem;
    }

    .footerlist li::before{
    content: none;
    padding-left: 0;
    }
    
    .socialicons i{
    Font-size: 200%;
    margin: 0% 5% 0% 5%;
    }
}

@media screen and (max-width: 768px){
    .navbar-brand{
        font-size: 300%;
    }

    #home-brand{
    font-size: 220%;
    }

    .curtain{
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        border-top: 3px solid var(--bg);
    }

    h5.cathead{
    font-weight: 600;
    font-size: 1.5rem;
    }

}

@media screen and (max-width: 767px){
    .nav-item{
    margin-left: auto;
    margin-right: 5%;
    }

    .navbar-nav{
    border-top: 2px solid var(--bg);
    }
}

@media screen and (max-width: 576px){
    .navbar-brand{
    font-size: 250%;
    }

    #home-brand{
        font-size: 120%;
    }

    .contactback h3{
    font-size: 110%;
    }

    address,#hours{
    font-size: 0.9rem;
    }

    .btcustom1{
    padding: 5% 0;
    }

    .carousel-caption h5{
    font-size: 1.8em;
    }

    .carousel-caption p{
    font-size: 1.2em;
    }

    h5.cathead{
    font-size: 1.1rem;
    }

    .ctablu{
    font-size: 1rem;
    }

    .menutab img{
        width: 100%;
    }

    .menuback{
        font-size: 0.8rem;
        font-weight: 500;
    }

    .menuback::after{
        background-repeat: repeat-x;
    }
    
    .menusnav{
        width: 95%;
        font-size: 0.9rem;
    }

    h2.submenu{
        font-size: 150%;
    }

    h2.secheading{
        font-size: 2rem;
    }

    .menuintro,.foodmenu,.dessertmenu,.coffeemenu{
        width: 95%;
    }

   .foodmenu h4{
        font-size: 1rem;
    }

   .dessertmenu h4{
        font-size: 1rem;
    }

    .menuintro .secheading{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .foodmenu .secheading{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .dessertmenu .secheading{
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    .dessertmenu>.col-12.col-sm-6{
    padding: 0%;
    }

    .coffemenu,.milk p::before{
    content: none;
    }

    .coffeemenu h3{
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 568px){
    .secheading{
    font-size: 150%;
    margin: 4% 0%;
    }
}

@media screen and (min-width: 1200px){
    .menusnav{
        width: 60%;
    }

    h2.secheading{
        font-size: 2.4rem;
    }

    .menuintro,.foodmenu,.dessertmenu,.coffeemenu{
        width: 60%;
    }

    .cathead{
        font-size: 150%;
    }
}



