:root{
    --logo: #333333;
    --light: #dddddd;
    --lighttrans: rgba(221, 221, 221, 0.85);
    --bg: #eeeeee;
    --warmyellow: #eed231;
    --buttonblue: #07c5ff;
    --buttonaqua: #1fd3b2;
    --alertorange: #f9c043;

    --submenu: #0E4B33;
    --lightpink: #DDBBDC;
}

/*------- General -------*/

html{
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    background-color: var(--bg);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.secheading{
    text-align: center;
    margin: 3% auto;
    z-index: 2;
    font-weight: 500;
}

@media screen and (max-width: 568px){
    .secheading{
    margin: 6% auto;
}
}

.hr90,.hr60,.hr30{
    display: block;
    border-bottom: 2px solid #aaaaaa;
    margin: 2% auto;
}

.hr90{
    width: 90%;
}

.hr60{
    width: 60%; 
}

.hr30{
    width: 30%;
}

.clear{
    clear: both;
    position: relative;
}

.row{
    max-width: 100vw;
    margin: 0;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.rotate45{
    transform: rotate(45deg);
    display: inline-block;
    font-size: 80%
}

.rotate270{
    transform: rotate(225deg);
    display: inline-block;
}


/*------- Colors -------*/

.bg-custom{
    background-color: #343A40;
}

/*------- Header -------*/

.navbar{
    width: 100vw;
}
.navbar-brand{
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    font-size: 400%;
    color: var(--logo);
}

@media screen and (max-width: 450px){
    .navbar-brand{
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    font-size: 250%;
    color: var(--logo)
    }
}

.nav-link{
    font-size: 1.5em;
}

/*------- Carousel -------*/

.carousel-slide{
    width: 100vw;

}
.carousel-inner{
    height: 70vh;
    width: 100vw;
}

.carousel-inner .carousel-item img{
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    object-position: center center;  
}

/*------- Welcome -------*/

blockquote{
    padding: 0;
    margin: 0;
}

blockquote hr{
    margin-top: 2%;
    margin-bottom: 0;
    color: #fff;
    width: 60%;
    border-bottom: 10px;
    padding: 0;
}

.welcome{
    text-align: center;
    padding: 5% 10%;
    font-size: 200%;
    width: 60%;  
    margin: 0 auto;
}

@media screen and (max-width: 768px){
    .welcome{
        font-size: 100%;
    }
}

@media screen and (max-width: 450px){
    .welcome{
        display: none;
    }
}

/*------- Menu Categories -------*/
.menutab{
    Text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.menutab img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 2px solid var(--bg);
}

@media screen and (max-width: 768px){
    .menutab img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
}

.col-md-4.menutab{
    padding: 0;
}

.curtain{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7)
}

.curtain:hover{
    background-color: rgba(51, 51, 51, 0.5)
}

@media screen and (max-width: 768px){
    .curtain{
        width: 100vw;
        height: 40vh;
        object-fit: cover;
        border: 2px solid var(--bg);
    }
}

.curtain h3{
    position: relative;
    top: 40%;
    left: 0;
    text-align:center;
    font-weight: 600;
    font-size: 2em;
    text-shadow: var(--logo) 0 2px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    color: var(--light);
    
}

/*------- Shop Categories -------*/

.col-sm-6, .col-md-3{
    padding: 0;
    margin: 0;
}

.catcol{
    position: relative;
    width: 100vw;
    border: 1px solid var(--light);
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.catsec img{
    width: 100%;
    height: auto;
    padding: 0;
}

.catover{
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
}

.catover:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.cathead{
    position: relative;
    top: 35%;
    left: 0;
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    text-shadow: var(--logo) 0 2px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    color: var(--light);
}

@media screen and (max-width: 568px){
    .cathead{
        font-size: 90%;
    }
}

.ctablu{
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--buttonblue);
    border: 1px solid var(--buttonblue);
    border-radius: 5px;
    margin-left: 25%;
    padding: 2%;
    width: 50%;
    height: 15%;
    text-align: center;
}

.ctablu:visited{
    border: 1px solid var(--warmyellow);
}

.ctablu a{
    color: var(--light);
    font-weight: 600;
    color: var(--light);
    font-size: 1.5em;
}

/*------- contact.html -------*/

.bgcontact{
    position: relative;
    padding: 5%;
}
.bgcontact::after {
  content: "";
  background: url("../images/chairs.jpg") center center; /* <span>Photo by <a href="https://unsplash.com/@cyzx?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Clifford</a> on <a href="https://unsplash.com/s/photos/old-chairs?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
.contactcenter{
    margin: 0 auto;
    width: 90%;
}

.contactcenter h2{
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin: 3% 0 0 0;
    padding: 2% 0;
    border: 1px solid var(--lighttrans);
    background-color: var(--lighttrans);
    border-radius: 5px;
    text-transform: uppercase;
}

.contactcenter h3, h5{
    font-weight: 400;
}

.contactbox{
    border: 1px solid var(--lighttrans);
    background-color: var(--lighttrans);
    border-radius: 5px;
    height: 90%;
    width: 90%;
    padding: 2% 0% 10% 10%;
    margin: 5% auto;
    line-height: 1.0;
}
.calls{
    text-align: center;
    padding: 5%;
    color: #fff;
}

.calls .col-6 div{
    margin: 0 2%;
    padding: 2%;
    background-color: var(--alertorange);
    border: 1px solid var(--alertorange);
    border-radius: 5px;
}


.contactbox .map{
    padding-bottom: 20px;
}

@media screen and (max-width: 576px){
    .contactbox .map{
        height: 40%;
    }
}

#name,#email,#phone,#message,#nameres,#emailres,#phoneres,#messageres{
    width: 85%;
    margin: 2% auto;
    padding: 2% 2%;
    background-color: #fff;
    border: 1px solid var(--light);
    border-radius: 5px;
}

#message{
    padding-bottom: 150px;
}

#submit,#submitres{
    width: 85%;
    color: #fff;
    font-weight: 600;
    background-color: var(--buttonblue);
    border: 1px solid var(--buttonblue);
    border-radius: 5px;
    padding: 2%;
}
.guests,.date{
    width: 85%;
}

.res{
    padding-left: 2%;
    padding-bottom: 0;
}

#guests,#date{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px; 
    margin: 0 auto;
    padding: 2% 2%;
    width: 100%;
}

form{
    margin: 0 auto;
    padding: 0;
}




/*------- Menu.html -------*/

.menuback{
    position: relative;
    padding: 2% 0%;
    width: 100vw;
}

/* Credit background-opacity https://css-tricks.com/snippets/css/transparent-background-images/ */

.menuback::after {
  content: "";
  background: url("../images/palms2.jpg") center center;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.menubody{
    padding: 0;
    margin: 0;
    background-color: var(--lighttrans);
    text-align: center;
}

.menubody p{
    line-height: 1.4;
}

div.menubody.col-12{
    padding: 0;
    margin: 0;
}

.menuintro,.foodmenu,.dessertmenu{
    margin: 5% 0%;
    padding: 2% 2% 5% 2%;
    text-align: center;
    background-color: var(--lighttrans);
    border: 1px solid var(--lighttrans);
    border-radius: 5px;
}

.menusnav{
    width: 95%;
    background-color: var(--alertorange);
    border: 1px solid var(--alertorange);
    margin: 0 auto;
    padding: 1%;
    color: white;
    text-align: center;
    font-size: 150%;
}

.menusnav.top{
    margin-top: 5%;
    border-bottom: 2px solid var(--bg);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menusnav.bottom{
    margin-bottom: 5%;
    background: var(--alertorange);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menusnav .bar{
    border-right: 2px solid var(--bg);
    border-left: 2px solid var(--bg);
}

.menusnav .col-4{
    padding: 0.25% 0;
}

.menusnav a{
    color: #fff;
}

.menusnav a:hover{
    text-decoration: none;
    color: var(--buttonblue);
    font-weight: 800;
}    

.rotate:hover{
    animation-name: rotate;
    animation-duration: 0.7s;
}

/* inspiration for animation from https://stackoverflow.com/questions/42745506/how-to-make-an-icon-spin-with-i-tag-in-html5-through-css3 */
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
        }
}

.coffeemenu{
    font-family: monospace, sans-serif;
    background-image: url("../images/pegboardlandscape.png");
    border: 1px solid #212225;
    border-radius: 5px;
    color: #fff;
    padding: 5% 2%;
    margin: 0;
    text-align: center;
    flex: row;
    justify-content: left;
}

.coffeemenu h3{
    margin-bottom: 5%;
}

.coffemenu,.milk p::before{
    content: "+ ";
}

@media screen and (max-width: 568px){
    .coffemenu,.milk p::before{
    content: none;
}
}

.foodmenu>.col-12.col-sm-6{
    padding-top: 3%;
}

.foodmenu hr{
    margin-bottom:5%;
}

.dessertmenu>.col-12.col-sm-6{
    padding: 3% 0%;
}

@media screen and (max-width: 576px){
    .dessertmenu>.col-12.col-sm-6{
    padding: 0%;
    }
}

.call{
    color: var(--submenu);
}

/*------- Shop.html -------*/

/*------- Product -------*/
.product{
    height: auto;
    width: 30%;
    padding: 2%;
    margin: 1%;
    display: inline-block;
    border: 1px solid #777777;
    position: relative; 
}

.product img{
    Max-width: 100%;
    height: auto;
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 0;

}

.product p:hover::before{
    content: "+";
}

.prodtitle{
    text-align: center;
    color: rgb(241, 220, 23);
    margin: 5px,auto,10px,auto;
}

.product button{
    color: white;
    text-align: center;
    width: 70%;
    background-color: #22e5f3;
    border: 1px solid #22e5f3;
    border-radius: 5px;
    padding: 2px;
    margin-top: 2%;
    margin-left: 12%; 
}

.stafffav{
    position: absolute;
    top: 6%;
    left: 7%;
    color: white;
    padding: 1%;
    background-color: rgba(7,7,7,0.5)
}

.container2{
    clear: both;
}

/*------- Footer -------*/

.footercustom{
    width: 100vw;
    clear: both;
    flex: row;
    justify-content: center;
    margin-top: 5%;
}

.footercustom .row{
    padding: 5% 5% 0% 5%;
    }

.footercustom h4{
    color: #fff;
}

.footercustom ul{
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px){
      .footercustom h4{
        font-size: 90%;
      }
}

.footeralign{
    flex: row;
    justify-content: space-evenly;
}

.footerlist li{
    color: #fff;
    font-size: 1em;
    list-style-type: none;
    line-height: 1.8;
}


.footerlist li::before{
    content: "+ ";
}

@media screen and (max-width: 768px){
    .footerlist li{ 
        line-height: 1.5;
        font-size: 80%; 
    }
    
    .footerlist li::before{
    content: none;
    padding-left: 0;
    }
}

.footerlist a{
    text-decoration: none;
    color: #fff;
}

.contacts{
    padding: 0;
}

.contacts li{
    list-style-type: none;
}

.contacts li::before{
    content: none;
}

.contacts li a:hover{
    color: var(--warmyellow)
}

.contacth{
    font-weight: bold;
}

.socialicons{
    width: 100%;
    text-align: center;
    margin-bottom: 4%;
}

.socialicons a{
    margin: 0%;
    padding: 5% 10%;
}

.socialicons i{
    Font-size: 250%;
    color: #fff;
    padding: 0;
    margin: 0;
}

.socialicons i:hover{
    color: #22e5f3;
}

@media screen and (max-width: 768px){
    .socialicons i{
    Font-size: 200%;
    margin-bottom: 10%;
    }
}





